@page "/"
@using System.Text;
@using static System.Net.Mime.MediaTypeNames;
@inherits ComponentBase

<PageTitle >Index</PageTitle>

@inject HttpClient httpClient



<label for="minutes" >Enter minutes:</label>
<input type="number" id="minutes" style="border-radius:10px"
            @bind="minutes" placeholder="daqiqa kiriting"/>


<button @onclick="() => StartTimer()" disabled="@timerRunning" 
    style="background-color:green; color:white; border-radius:10px;
     margin-top:10px">Start Timer</button>
<button @onclick="PauseResumeTimer" 
    style="border-radius:10px; background-color:yellow"
    disabled="@(!timerRunning)">@(timerPaused ? "Resume" : "Pause") Timer</button>
<button @onclick="StopTimer" 
    style="border-radius:10px; background-color:red;"
    disabled="@(!timerRunning)">Stop Timer</button>
<button @onclick="RefreshTimer" 
    style="border-radius:10px; background-color:darkgrey"
    disabled="@(!timerRunning || timerPaused)">Refresh Timer</button>

<p  style="font-size:360px; cursor:cell;  height:637.2px"> @formattedTime</p>




@code {
    private int minutes = 0;
    private int setdata = 0;
    private TimeSpan remainingTime;
    private string formattedTime => remainingTime.ToString(@"hh\:mm\:ss");
    private bool timerRunning = false;
    private bool timerPaused = false;
    private System.Threading.Timer timer;

    private void StartTimer()
    {
        
        if (!timerRunning && minutes > 0)
        {
            setdata = minutes;
            remainingTime = TimeSpan.FromMinutes(minutes);
            timer = new System.Threading.Timer(UpdateTimer, null, 0, 1000);
            timerRunning = true;
            InvokeAsync(StateHasChanged);
        }
    }

    private void UpdateTimer(object state)
    {
        if (remainingTime.TotalSeconds > 0 && !timerPaused)
        {
            remainingTime = remainingTime.Subtract(TimeSpan.FromSeconds(1));
            InvokeAsync(StateHasChanged);
        }
        else if (remainingTime.TotalSeconds == 0)
        {
            MakePostRequest(setdata);
            StopTimer();
        }
    }

    private void PauseResumeTimer()
    {
        timerPaused = !timerPaused;
        InvokeAsync(StateHasChanged);
    }

    private void StopTimer()
    {
        timer.Dispose();
        timerRunning = false;
        remainingTime = TimeSpan.Zero;
        InvokeAsync(StateHasChanged);
    }

    private void RefreshTimer()
    {
        StopTimer();
        StartTimer();
    }

    private async Task MakePostRequest(int minut)
    {
        try
        {
            // Specify the API endpoint
            string apiUrl = "https://localhost:7120/api/Time/create";

            var data = new Dictionary<string, int>
            {
                { "setData" , minut }
            };

            var jsonContent = new StringContent(System.Text.Json.JsonSerializer.Serialize(data), 
            Encoding.UTF8, Application.Json);

            
            // Make a POST request
            var response = await httpClient.PostAsync(apiUrl,jsonContent);

            // Check if the request was successful
            if (response.IsSuccessStatusCode)
            {
                // Process the successful response
                var responseData = await response.Content.ReadAsStringAsync();
                //Console.WriteLine(responseData);
            }
            else
            {
                // Handle non-successful response
                //Console.WriteLine($"Error: {response.StatusCode} - {response.ReasonPhrase}");
            }
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}