@page "/"
@inherits ComponentBase
<PageTitle >Index</PageTitle>

<label for="minutes">Enter minutes:</label>
<input type="number" id="minutes" @bind="minutes" placeholder="daqiqa kiriting"/>

<button @onclick="() => StartTimer()" disabled="@timerRunning" 
    style="background-color:green; color:white; border-bottom-left-radius:10px;
    border-bottom-right-radius:10px; margin-top:10px">Start Timer</button>
<button @onclick="PauseResumeTimer" disabled="@(!timerRunning)">@(timerPaused ? "Resume" : "Pause") Timer</button>
<button @onclick="StopTimer" disabled="@(!timerRunning)">Stop Timer</button>
<button @onclick="RefreshTimer" disabled="@(!timerRunning || timerPaused)">Refresh Timer</button>

<p>Time remaining: @formattedTime</p>

@code {
    private int minutes = 0;
    private TimeSpan remainingTime;
    private string formattedTime => remainingTime.ToString(@"hh\:mm\:ss");
    private bool timerRunning = false;
    private bool timerPaused = false;
    private System.Threading.Timer timer;

    private void StartTimer()
    {
        if (!timerRunning && minutes > 0)
        {
            remainingTime = TimeSpan.FromMinutes(minutes);
            timer = new System.Threading.Timer(UpdateTimer, null, 0, 1000);
            timerRunning = true;
            InvokeAsync(StateHasChanged);
        }
    }

    private void UpdateTimer(object state)
    {
        if (remainingTime.TotalSeconds > 0 && !timerPaused)
        {
            remainingTime = remainingTime.Subtract(TimeSpan.FromSeconds(1));
            InvokeAsync(StateHasChanged);
        }
        else if (remainingTime.TotalSeconds == 0)
        {
            StopTimer();
        }
    }

    private void PauseResumeTimer()
    {
        timerPaused = !timerPaused;
        InvokeAsync(StateHasChanged);
    }

    private void StopTimer()
    {
        timer.Dispose();
        timerRunning = false;
        remainingTime = TimeSpan.Zero;
        InvokeAsync(StateHasChanged);
    }

    private void RefreshTimer()
    {
        StopTimer();
        StartTimer();
    }
}